@model IEnumerable<FinalYearProjectDYC.Models.ComplainModel.AddComplainInDatabaseTable>

@{
    ViewBag.Title = "CheckComplaiStatus";
}
<h4> @Html.ActionLink("logout", "ComplainerLogOut")</h4>
<h2><button type="button" class="btn btn-primary btn-lg" onclick="window.location.href = ('@Url.Action("ComplainerLogOut", "Complain")')">Logout</button></h2>
<h2>Check Complain Status Here By Complain Id</h2>

@using (Html.BeginForm("CheckComplaiStatus", "Complain", FormMethod.Get))
{
    <p>
        @Html.TextBox("search")
        <input type="submit" value="Search" class="btn btn-info" />

    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ComplainCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplainaArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoadNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplainDeatils)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplainerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiveStatus)
        </th>*@
        <th>
            @Html.DisplayName("Work Status")
        </th>
<th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ComplainCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplainaArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoadNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplainDeatils)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiveStatus)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplainerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractNumber)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>
